.list {
  display: grid;
  margin: 0;
  /* https://css-tricks.com/responsive-layouts-fewer-media-queries/ */
  --w: 200px;
  --n: 4;
  gap: var(--size-gap);
  grid-template-columns: repeat(
    auto-fit,
    minmax(max(var(--w), 100%/ (var(--n) + 1) + 0.1%), 1fr)
  );
  margin-bottom: var(--size-gap);
  margin-top: 10px;
}

.listItem {
  margin: 0;
}

.listItem::marker {
  color: transparent;
}


.listItemLink {
  color: var(--color-primary);
  font-weight: bold;
}

.listItemDescription {
  color: var(--color-text);
  margin-bottom: 0;
  margin-top: var(--space-1);
}

.textCenter {
  text-align: center;
}

.intro {
  max-width: none;
  line-height: var(--line-height-loose);
}

.image-container {
  display: grid;
  place-items: center; /* Center content inside the container */
  position: relative;
}

.parentContainer {
  z-index: 10;
  margin-top: -70px;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}


.hoverPopup {
  position: absolute;
  top: -80px; /* Adjust as needed */
  height: 140px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  color: black;
  padding: 10px;
  white-space: nowrap;
  display: none;
  line-height: 40px;
  text-align: center;
  span{
    cursor: pointer;
    border: #000 solid;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
  }
  span:hover{
    color: #fff;
    background-color: #000;
  }
  span:active{
    color: #fff;
    background-color: #00000090;
  }
}

.atcb {
  height: 40px;
  width: 40px;
  border-radius: 100px;
  line-height: 35px;
  font-size: 32px;
  color: #000;
  background-color: #ffffff99;
  padding-left: 3px;
  cursor: pointer;
}


.atcb:hover + .hoverPopup {
  display: block;
}

.atcb:hover ~ .hoverPopup,
.hoverPopup:hover {
  display: block;
}
.aboutImage{
  margin-bottom: var(--space-3);
  width: 25%;
  border: 10px solid #fff;
}

@media (max-width: 768px) {
  .aboutImage{
    margin-bottom: var(--space-3);
    width: 25%;
    border: 3px solid #fff;
  }
  .list {
    place-content: center;
    display: grid;
    margin: 0;
    /* https://css-tricks.com/responsive-layouts-fewer-media-queries/ */
    --w: 130px;
    --n: 2;
    gap: 20px;
    grid-template-columns: repeat(
      auto-fit,
      minmax(max(var(--w), 100%/ (var(--n) + 1) + 0.1%), 1fr)
    );
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .listItemLink {
    color: var(--color-primary);
    font-weight: bold;
    font-size: 12px;
  }
  .listItemLinkPrice{
    font-size: 12px;
  }
  .pcOnlyText{
    display: none;
  }
}