:root {
  --border-radius: 4px;
  --color-text: #ffffff70;
  --color-primary: #ffffff;
  --color-secondary: #ffffff;
  --color-secondarylight: #ffffff70;
  --color-secondarydark: #ffffff70;
  --color-code-bg: #fff4db;
  --color-code: #8a6534;
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --font-lt: 28px;
  --font-lg: 18px;
  --font-md: 16px;
  --font-sm: 14px;
  --font-sx: 12px;
  --line-height-loose: 1.75;
  --line-height-normal: 1.5;
  --line-height-dense: 1.1;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 64px;
  --size-content: 90vw;
  --size-gap: var(--space-6);
}
html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font: sans-serif;
  font-size: var(--font-md);
  line-height: var(--line-height-normal);
  overflow-y: scroll;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--color-text);
  font-family: sans-serif;
  font-family: var(--font-sans);
  font-weight: normal;
  margin: 0;
  word-wrap: break-word;
  background-color: #000;
}
a {
  background-color: transparent;
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2px;
}
a:active,
a:hover {
  outline-width: 0;
  text-decoration: none;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  margin: 0;
  margin-bottom: 3rem;
  padding: 0;
  line-height: var(--line-height-dense);
  letter-spacing: -0.01em;
}
h1 > b {
  color: var(--color-primary);
}
img {
  border-style: none;
  max-width: 100%;
}
code,
kbd,
pre,
samp {
  font-family: var(--font-mono);
  font-size: 1em;
  line-height: inherit;
}
hr {
  box-sizing: content-box;
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  margin-bottom: calc(var(--space-4) - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
a{
  text-decoration: none;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
hgroup,
img,
figure,
fieldset,
ul,
ol,
dl,
dd,
p {
  margin: 0;
  padding: 0;
  margin-bottom: var(--space-4);
}
ul,
ol {
  margin-left: var(--space-4);
  list-style-position: outside;
  list-style-image: none;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: var(--space-4);
  font-size: 0.875rem;
  line-height: var(--line-height-normal);
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: var(--border-radius);
  overflow: auto;
  word-wrap: normal;
  padding: var(--space-4);
}
b,
strong,
dt,
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(var(--space-4) / 2);
}
ol li,
ul li {
  padding-left: 0;
}
li > ol,
li > ul {
  margin-bottom: calc(var(--space-4) / 2);
  margin-left: var(--space-4);
  margin-top: calc(var(--space-4) / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(var(--space-4) / 2);
}
p {
  max-width: 680px;
}
code {
  font-size: 0.875rem;
}
kbd {
  font-size: 0.875rem;
}
samp {
  font-size: 0.875rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
tt,
code {
  background-color: var(--color-code-bg);
  border-radius: var(--border-radius);
  color: var(--color-code);
  font-family: var(--font-mono);
  padding-bottom: 0.25em;
  padding-top: 0.25em;
  word-break: normal;
}
pre code {
  background: none;
}
code:before,
code:after,
tt:before,
tt:after {
  content: "\00a0";
  letter-spacing: -0.2em;
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: none;
}
@font-face {
  font-family: 'AdamCgProBold';
  src: url('../assets/fonts/VennEx_Trial_XBd.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AdamCgPro';
  src: url('../assets/fonts/VennEx_Trial_Rg.ttf');
  font-weight: normal;
  font-style: normal;
}

.logo-text {
  font-family: 'AdamCgProBold';
  font-size: var(--font-sm);
}
.logoTextComponentMain{
  justify-content: flex-start;
}
.logo-title-text {
  font-family: 'AdamCgProBold';
  font-size: var(--font-lt);
  color: var(--color-secondary);
  text-decoration: none;
}

.nav-text {
  font-family: 'AdamCgPro';
}

.footer-div {
  display: flex;
  justify-content: space-between;
}

.ftt{
  font-family: 'AdamCgPro';
  font-weight: bold;
  font-size: 11px;
  color: #ffffff90;
}
.fbt{
  font-family: 'AdamCgPro';
  font-size: 11px;
  color: #ffffffaa;
  span{
    cursor: pointer;
    text-decoration: underline;
  }
  span:hover{
    text-decoration: none;
  }
}

.eib{
  height: 40px;
  width: 350px;
  text-indent: 10px;
  font-family: 'AdamCgPro';
  background-color: #fff;
  outline: none;
  border: none;
}

.esb{
  height: 40px;
  width: 70px;
  font-family: 'AdamCgPro';
  background-color: #056D63;
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.esb:hover{
  background-color: #056D63cc;
}
.esb:active{
  background-color: #056D63;
}
.eib2{
  height: 40px;
  width: 350px;
  text-indent: 10px;
  font-family: 'AdamCgPro';
  background-color: #dddddd;
  outline: none;
  border: none;
}

.esb2{
  height: 40px;
  width: 70px;
  font-family: 'AdamCgPro';
  background-color: #056D63;
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.esb2:hover{
  background-color: #056D63cc;
}
.esb2:active{
  background-color: #056D63;
}
.heroImage{
  aspect-ratio: 16 / 8;
}
.prodMainImage{
  aspect-ratio: 8 / 12;
  width: 30vw;
}
.prodMainImage1{
  aspect-ratio: 8 / 12;
  width: 14.5vw;
}
.prodSubImage{
  aspect-ratio: 8 / 5.865;
  flex-grow: 0;
  flex-shrink: 0;
  width: 30vw;
}
.prodSubImage1{
  aspect-ratio: 8 / 5.865;
  flex-grow: 0;
  flex-shrink: 0;
  width: 30vw;
  display: none;
}
.prodImgsSub{
  display: flex;
  gap: 1vw;
  flex-wrap: wrap;
}
.copyRightText{
  color: #999;
}
.prodCont{
  display: flex;
  padding-top: 150px;
}
.prodImgs{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 63.5vw;
  height: 87vh; align-items: flex-start;
  justify-content: center;
  padding-left: 1vw;
  flex-shrink: 0 ;
}
.prodDets {
  display: flex;
  flex-direction: column;
  padding-left: 5vw;
  margin-top: 60px;
  position: relative;
  width: 32vw;
}
.cart-container{
  margin-top: 200px;
  .maintext{
    font-family: 'AdamCgProBold';
    font-size: 40px;
    color: #fff;
  }
}
.cart-item{
  display: flex;
}
.cart-items{
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
}
.cart-item-image{
  aspect-ratio: 8 / 12;
  width: 10vw;
  flex-grow: 0;
  flex-shrink: 0;
}
.cart-item-info{
  display: flex;
  flex-direction: column;
  padding-left: 1vw;
  padding-right: 1vw;
  width: 14vw;
  h2{
    color: #fff;
  }
  p{
    color: #fff;
  }
}
.rembutton{
  background-color: red;
  width: 25px;
  padding-left: 15px;
  padding-right: 25px;
  outline: none;
  border: none;
  span{
    color: #fff;
    text-transform: uppercase;
  }
}
.logo-text-bottom{
  font-size: 28.5px;
  font-family: 'AdamCgProBold';
}
.image-container {
  position: relative;
  width: 300px; /* Adjust as needed */
  height: 385px;
  z-index: 10;
}
@media (max-width: 768px) {
  .cart-item{
    display: flex;
  }
  .logo-title-text {
    font-family: 'AdamCgProBold';
    font-size: 19px;
    color: var(--color-secondary);
    text-decoration: none;
  }
  .logoTextComponentMain{
    justify-content: center;
  }
  .cart-items{
    display: flex;
    flex-direction: column;
    gap: 2vw;
  }
  .cart-item-image{
    aspect-ratio: 8 / 12;
    width: 42%;
    flex-grow: 0;
    flex-shrink: 0;
  }
  .cart-item-info{
    display: flex;
    flex-direction: column;
    padding-left: 1vw;
    padding-right: 1vw;
    width: 58%;
    h2{
      color: #fff;
    }
    p{
      color: #fff;
    }
  }
  .prodCont{
    display: flex;
    flex-direction: column;
    padding-top: 150px;
  }
  .prodImgs{
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100vw;
    height: auto;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 0vw;
    flex-shrink: 1 ;
  }
  .prodMainImage{
    aspect-ratio: 8 / 12;
    width: 100%;
    flex-shrink: 0;
  }
  .prodSubImage{
    aspect-ratio: 8 / 12;
    width: 100%;
    flex-shrink: 0;
  }
  .prodSubImage1{
    aspect-ratio: 8 / 12;
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
    display: block;
  }
  .prodImgsSub{
    display: flex;
  }
  .prodMainImage1{
    aspect-ratio: 8 / 12;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
  }
  .prodDets {
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-top: 60px;
    position: relative;
    width: 100%;
  }
  .promoTextComponent{
    width: 100%;
    span:nth-child(odd){
      display: none;
    }
    span:nth-child(even){
      display: none;
    }
    span:first-child{
      display: block;
      color: #fff;
    }
  }
  .logo-text{
    font-size: 11px;
  }
  .logoTextComponent{
    width: 100%;
    .logo-text:nth-child(odd){
      display: none;
    }
    .logo-text:nth-child(even){
      display: none;
    }
    .logo-text:first-child{
      display: block;
      color: #fff;
    }
  }
  .sectionTextComponent{
    width: 100%;
    .logo-text:nth-child(odd){
      display: none;
    }
    .logo-text:nth-child(even){
      display: none;
    }
    .logo-text:first-child{
      display: block;
      color: #fff;
      width: 100%;
      text-align: center;
    }
  }
  .heroImage{
    aspect-ratio: 8 / 12;
  }
  .footer-div{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
  }
  .logo-text-bottom{
    font-size: 24px;
    margin-bottom: 25px;
    font-family: 'AdamCgProBold';
  }
  .eib{
    height: 40px;
    width: 100%;
    text-indent: 10px;
    font-family: 'AdamCgPro';
    background-color: #fff;
    outline: none;
    border: none;
  }
  .esb{
    height: 40px;
    width: 100%;
    font-family: 'AdamCgPro';
    background-color: #056D63;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  .esb:hover{
    background-color: #056D63;
  }
  .esb:active{
    background-color: #056D63;
  }
  .copyRightText{
    font-size: 12px;
    color: #999;
    padding-bottom: 60px;
  }
  .introPopupClass{
    width: 350px;
  }
  .eib2{
    height: 40px;
    width: 100%;
    text-indent: 10px;
    font-family: 'AdamCgPro';
    background-color: #dddddd;
    outline: none;
    border: none;
  }
  
  .esb2{
    height: 40px;
    width: 100%;
    font-family: 'AdamCgPro';
    background-color: #056D63;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  .esb2:hover{
    background-color: #056D63;
  }
  .esb2:active{
    background-color: #056D63cc;
  }
  .image-container {
    position: relative;
    width: 200px; /* Adjust as needed */
    height: 200px;
    z-index: 10;
  }
}

.default-image,
.hover-image {
  position: absolute;
  width: 100%;
  aspect-ratio: 12/15;
  transition: opacity 0.2s ease-in-out;
  z-index: 10;
}

.hover-image {
  opacity: 0;
}

.image-container:hover .hover-image {
  opacity: 1;
}

.image-container:hover .default-image {
  opacity: 0;
}
